.scene-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    will-change: transform;
}

.scene-container.fixed {
    position: fixed;
    z-index: -1;
}

.scene-container.absolute {
    position: absolute;
    z-index: 0;
}

.scene-container canvas {
    display: block;
}